In [129]:
#Let's get started
import pandas as pd
import numpy as np
path = r'C:\Users\avi140\Documents\DS\Books\Kaggle\Titanic\train.csv'
traindf = pd.read_csv(path)
#traindf.head(5)
#traindf.info()
traindf[['Age','Fare']][traindf.Fare<5]

#first we set those fares of 0 to nan
traindf.Fare = traindf.Fare.map(lambda x: np.nan if x==0 else x)
classmeans = traindf.pivot_table(values ='Fare',index = 'Pclass',aggfunc = 'mean')
#embarkedCount = traindf.groupby (['Embarked']).count()
traindf.Fare = traindf[['Fare', 'Pclass']].apply(lambda x: classmeans.loc[x['Pclass']] if pd.isnull(x['Fare']) else x['Fare'], axis=1 )

#Let's replace NAN values with Mean Age
meanAge=np.mean(traindf.Age)
traindf.Age=traindf.Age.fillna(meanAge)

#Replacing missing values with Unknown
traindf.Cabin = traindf.Cabin.fillna('Unknown')
from scipy.stats import mode
modeEmbarked = traindf['Embarked'].fillna(traindf['Embarked'].mode()[0])
traindf.Embarked = traindf.Embarked.fillna(modeEmbarked)
#Test Check
#traindf[traindf['PassengerId'].isin([62,830])]